body{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(/images/onePeace.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-line{
    display: flex;
    padding-left: 130px;
    padding-top: 30px;
}

.header-line-right a{
    padding-right: 60px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif; 
    color: #00ffdd;
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
}

.header-line-right a:last-child{
    padding: 0;
}

.header-line-left{
  margin-left: 550px;
}

.input{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    width: 103px;
    height: 14px;
    border: 2px solid ;
    border-radius: 30px;
}

.header-line-left a{
    margin-right: 50px;
    color: #00ffdd;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-decoration: none;
    line-height: 15px;
}

.main{
    display: flex;
}

.main-left{
    padding-left: 200px;
    padding-top: 250px;
}

.title{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 700 ;
    margin-bottom: 20px;
    color: rgba(10, 126, 10, 0.849);
    width: 250px;
}

.subtitle{
    width: 500px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 900 ;
    color: rgba(10, 126, 10, 0.849);
    padding-right: 300px;
}

.about-text{
    display: flex;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    color: #ff0000;
}

.About{
    padding-top: 250px;
    color: #ff0000;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 900 ;
}

.rel{
    width: 200px;
    text-align: right;
}